html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Light Italic'),
    url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --primary: #6D31EE;
  --primary_shade: #4F28A5;
  --primary_light: #AA9DFA;
  --light_color: #E6E8EC;
  --text_gray: #A1A6B4;
  --shade_gray: #D2D5DD;
  --black: #121723;
  --light_black: #292E39;
  --red: #FF6F6F;
  --promo_color: #F0D288;
  --promo_color_shade:  #BB973E;
  --porcelain: #F5F6F7;
  --mirage: #121723;
}

body {
  min-width: 320px;
  font-family: 'Muller', sans-serif;
  background-color: var(--white);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--black);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.link {
  display: inline-block;
  border: 1px solid var(--primary);
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 40px;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--light_color);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--light_color);
}

.header::after {
  content: "";
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light_color);
}

.header-container {
  position: relative;
}

.header-before {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-before__logo {
  position: relative;
  width: 112px;
  height: 14px;
  z-index: 5;
  transition: border .3s ease-in-out;
}

.header-before__logo::after {
  position: absolute;
  content: "";
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 2px solid var(--primary_light);
  border-radius: 5px;
  opacity: 0;
}

.header-before__logo:focus {
  outline: none;
}

.header-before__logo:focus::after {
  opacity: 1;
}

.header-before__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-before,
.header-before__btn-enter,
.header::before {
  display: none;
}

.header__block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__top-logo {
  position: relative;
  max-width: 160px;
  max-height: 20px;
  transition: border .3s ease-in-out, opacity .3s ease-in-out;
}

.header__top-logo::after {
  position: absolute;
  content: "";
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 2px solid var(--primary_light);
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
}

.header__top-logo:focus {
  outline: none;
}

.header__top-logo:focus::after {
  opacity: 1;
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.burger {
  display: none;
}

.top-nav__close {
  display: none;
}

.top-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav__item:not(:last-child) {
  margin-right: 58.75px;
}

.top-nav__link {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
  transition: color .3s ease-in-out;
}

.top-nav__link:hover {
  color: var(--primary);
}

.top-nav__link::after {
  position: absolute;
  content: "";
  top: -4px;
  bottom: -4px;
  left: -10px;
  right: -10px;
  background-color: var(--primary_light);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.top-nav__link:focus::after {
  opacity: 1;
}

.top-nav__link:focus {
  outline: none;
  color: var(--white);
}

.top-nav__link:active {
  color: var(--primary_shade);
}

.header__top-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-btn-search {
  margin-right: 24px;
}

.top-btn-search {
  transition: stroke .3s ease-in-out;
}

.top-btn-search:hover .top-btn-search__svg .top-btn-search__path {
  stroke: var(--primary_light);
}

.top-btn-search:focus {
  outline: none;
}

.top-btn-search:focus .top-btn-search__svg .top-btn-search__path  {
  stroke: var(--primary_light);
}

.top-btn-search:after .top-btn-search__svg .top-btn-search__path {
  stroke: var(--primary_shade);
}

.top-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 113px;
  z-index: 1000;
  width: 364px;
  height: 80px;
  padding: 0 5px 0 40px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transform: translateY(-300%);
  transition: transform 0.5s ease-in-out;
}

.top-form__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-form--active {
  transform: none;
}

.top-form__input {
  position: relative;
  width: 278px;
  margin-right: 5px;
  border: none;
  border-bottom: 1px solid var(--primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text_gray);
  transition: border .3s ease-in-out, opacity .3s ease-in-out;
}

.top-form__input:focus {
  outline: none;
}

.top-form__btn {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg class='top-btn-search__svg' width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='top-btn-search__path' d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath class='top-btn-search__path' d='M20.9999 21L16.6499 16.65' stroke='%236D31EE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
}

.top-form__btn:hover,
.top-form__btn:focus {
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg class='top-btn-search__svg' width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='top-btn-search__path' d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath class='top-btn-search__path' d='M20.9999 21L16.6499 16.65' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.top-form__btn:active {
  background-image: url("data:image/svg+xml,%3Csvg class='top-btn-search__svg' width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='top-btn-search__path' d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%234F28A5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath class='top-btn-search__path' d='M20.9999 21L16.6499 16.65' stroke='%234F28A5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.btn-enter {
  position: relative;
  padding: 9px 20px;
  border: 2px solid var(--black);
  border-radius: 77px;
  transition: background-color .3s ease-in-out;
}

.btn-enter:hover {
  background-color: var(--light_black);
}

.btn-enter:focus {
  outline: none;
  background-color: var(--primary_light);
}

.btn-enter:active {
  background-color: var(--primary_shade);
}

.btn-enter__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  padding-left: 22px;
  background-image: url(../img/enter.svg);
  background-position: left center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  transition: background-image .3s ease-in-out, color .3s ease-in-out;
}

.btn-enter__text:hover {
  background-image: url(../img/enter_hover_active.svg);
  color: var(--white);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: var(--black);
  opacity: 0.5;
}

.overlay--show {
  display: block;
}

.form-enter {
  position: absolute;
  top: 80px;
  left: 143px;
  right: 143px;
  z-index: 1000;
  padding: 60px;
  background-color: var(--black);
  overflow-y: auto;
  transform: translateY(-150%);
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.form-enter.active {
  transform: translateY(0);
}

.form-enter__title {
  margin-bottom: 15px;
  color: var(--white);
}

.form-enter__text,
.top-social__text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.form-enter__link {
  color: var(--primary);
  transition: color .3s ease-in-out;
}

.form-enter__link:hover {
  color: var(--primary_light);
}

.form-enter__link:focus {
  outline: none;
  color: var(--primary_light);
}

.form-enter__link:active {
  color: var(--primary_shade);
}

.form-enter__form-group {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.form-enter__form-control {
  margin-bottom: 30px;
}

.item {
  width: 100%;
  height: 70px;
  padding: 25px 32px;
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text_gray);
  transition: background-color .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
}

.item:hover {
  background-color: var(--light_black);
  border: 1px solid var(--white);
}

.item:focus {
  outline: none;
  background-color: var(--light_black);
  border-color: var(--primary_light);
}

.item:active {
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
}

.enter-btn {
  padding: 25px 54px;
  margin-bottom: 30px;
  background-color: var(--primary);
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.enter-btn:hover {
  background-color: var(--primary_light);
  border: 1px solid var(--primary_light);
}

.enter-btn:focus {
  outline: none;
  background-color: var(--primary_light);
  border: 1px solid var(--primary_shade);
}

.enter-btn:active {
  background-color: var(--primary_shade);
  border: 1px solid var(--primary_shade);
}

.header__top-line {
  max-width: 704px;
  height: 2px;
  margin-bottom: 30px;
  background-image: url(../img/line-form-enter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-network {
  display: flex;
  justify-content: flex-start;
}

.top-social__fb, .top-social__vk,
.top-social__google {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-social__fb {
  background-image: url(../img/fb.svg);
  transition: background-image .3s ease-in-out;
}

.top-social__fb:hover {
  background-image: url(../img/fb\ _hover.svg);
}

.top-social__fb:focus {
  outline: none;
  background-image: url(../img/fb_focus.svg);
}

.top-social__fb:active {
  background-image: url(../img/fb_active.svg);
}

.top-social__vk {
  background-image: url(../img/vk.svg);
  transition: background-image .3s ease-in-out;
}

.top-social__vk:hover {
  background-image: url(../img/vk\ _hover.svg);
}

.top-social__vk:focus {
  outline: none;
  background-image: url(../img/vk_focus.svg);
}

.top-social__vk:active {
  background-image: url(../img/vk_active.svg);
}

.top-social__google {
  background-image: url(../img/g.svg);
  margin: 0;
  transition: background-image .3s ease-in-out;
}

.top-social__google:hover {
  background-image: url(../img/google_hover.svg);
}

.top-social__google:focus {
  outline: none;
  background-image: url(../img/google_focus.svg);
}

.top-social__google:active {
  background-image: url(../img/google\ _active.svg);
}

.enter-close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 42px;
  height: 42px;
  background-image: url(../img/closed_modal.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition:  background-image .3s ease-in-out;
}

.enter-close:hover {
  background-image: url(../img/closed-modal_hover.svg);
}

.enter-close:focus {
  outline: none;
  background-image: url(../img/closed-modal_focus.svg);
}

.enter-close:active {
  background-image: url(../img/closed-modal_active.svg);
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-bottom {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-bottom {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.link-bottom::after {
  position: absolute;
  content: "";
  top: -4px;
  bottom: -4px;
  left: -10px;
  right: -10px;
  background-color: var(--primary_light);
  z-index: -1;
  opacity: 0;
}

.link-bottom:hover {
  color: var(--primary);
}

.link-bottom:focus::after {
  opacity: 1;
}

.link-bottom:focus {
  outline: none;
  color: var(--white);
}

.link-bottom:active {
  color: var(--primary_shade);
}

.play-list {
  width: 32%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.play-item {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;
  border-left: 1px solid var(--light_color);
}

.play-item:last-child {
  border-right: 1px solid var(--light_color);
}

.play-item__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-item__play,
.play-item__pause {
  margin-right: 8px;
}

.play svg path {
  transition: fill .3s ease-in-out;
}

.play:hover svg path,
.pause:hover svg path {
  fill: none;
  fill: var(--primary);
}

.play:focus,
.pause:focus {
  outline: none;
}

.play:focus svg path,
.pause:focus svg path {
  fill: none;
  fill: var(--primary_light);
}

.play:active svg path,
.pause:active svg path {
  fill: none;
  fill: var(--primary_shade);
}

.hidden {
  display: none;
}

.play-item__text {
  display: flex;
  flex-direction: column;
}

.play-item__top {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--text_gray);
}

.play-item__bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
}

.age {
  width: 4%;
  height: 60px;
  background-image: url(../img/age.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__esc {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  padding: 14.5px 0;
  transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}

.header__esc-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image: url(../img/esc.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__esc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary);
}

.header__plays {
  display: none;
}

/* H E R O */

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 40px 0;
}

.hero__content {
  max-width: 635px;
}

.hero__title {
  max-width: 635px;
  margin: 0;
  margin-bottom: 14px;
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--light_black);
}

.title__span {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--light_black);
}

.hero__text {
  margin: 0;
  margin-bottom: 45px;
}

.text {
  max-width: 635px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--light_black);
}

.hero__link {
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.hero__link:focus {
  outline: none;
  background-color: var(--primary_light);
  border: 2px solid var(--primary_shade);
}

.hero__link:hover {
  background-color: var(--primary_light);
}

.hero__link:active {
  background-color: var(--primary_shade);
}

.hero__img {
  width: 350px;
  height: 372px;
  background-image: url(../img/hero-microphone_1920.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*  П О Д К А С Т Ы  */

.podcasts {
  height: auto;
  padding: 94px 0;
  background-color: var(--shade_gray);
}

.podcasts__container {
  width: 100%;
  height: auto;
}

.podcasts__title {
  margin: 0;
}

.podcasts__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.podcast {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: calc((100% - 30px)/2);
  height: 140px;
  background-color: var(--white);
}

.podcasts__item:nth-child(odd) {
  margin-right: 30px;
  margin-top: 30px;
}

.podcasts__item:nth-child(even) {
  margin-top: 30px;
}

.podcast__img {
  position: relative;
  width: 21%;
  height: 100%;
}

.podcast__img-one, .podcast__img-two,
.podcast__img-three, .podcast__img-four,
.podcast__img-five, .podcast__img-six,
.podcast__img-seven, .podcast__img-eight {
  background-image: url(../img/pdc-img1_1920.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.podcast__img-two {
  background-image: url(../img/pdc-img2_1920.png);
}

.podcast__img-three {
  background-image: url(../img/pdc-img3_1920.png);
}

.podcast__img-four {
  background-image: url(../img/pdc-img4_1920.png);
}

.podcast__img-five {
  background-image: url(../img/pdc-img5_1920.png);
}

.podcast__img-six {
  background-image: url(../img/pdc-img6_1920.png);
}

.podcast__img-seven {
  background-image: url(../img/pdc-img7_1920.png);
}

.podcast__img-eight {
  background-image: url(../img/pdc-img8_1920.png);
}

.podcast__date {
  position: absolute;
  padding: 3px 6px;
  left: 0;
  bottom: 0;
  width: 51px;
  height: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--light_black);
  background-color: var(--light_color);
}

.descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 79%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 30px;
}

.top__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-right: auto;
  max-width: 176px;
}

.top__time {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--light_black);
}

.top__subtitle {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--light_black);
}

.top__name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text_gray);
}

.top__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top__btn-play {
  width: 48px;
  height: 48px;
  background-image: url(../img/play_btn_1920.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image .3s ease-in-out;
}

.top__btn-pause {
  width: 48px;
  height: 48px;
  background-image: url(../img/pause_btn_1920.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image .3s ease-in-out;
}

.top__btn-play:hover {
  background-image: url(../img/play_btn_hover.svg);
}

.top__btn-play:focus {
  outline: none;
  background-image: url(../img/play_btn_focus.svg);
}

.top__btn-play:active {
  background-image: url(../img/play_btn_active.svg);
}

.top__btn-pause:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='24' cy='24' r='20' stroke='%236D31EE' stroke-width='2'/%3e%3crect x='19' y='15' width='2' height='18' rx='1' fill='%236D31EE'/%3e%3crect x='27' y='15' width='2' height='18' rx='1' fill='%236D31EE'/%3e%3c/svg%3e");
}

.top__btn-pause:focus {
  outline: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='24' cy='24' r='20' stroke='%23AA9DFA' stroke-width='2'/%3e%3crect x='19' y='15' width='2' height='18' rx='1' fill='%23AA9DFA'/%3e%3crect x='27' y='15' width='2' height='18' rx='1' fill='%23AA9DFA'/%3e%3c/svg%3e");
}

.top__btn-pause:active {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='24' cy='24' r='20' stroke='%234F28A5' stroke-width='2'/%3e%3crect x='19' y='15' width='2' height='18' rx='1' fill='%234F28A5'/%3e%3crect x='27' y='15' width='2' height='18' rx='1' fill='%234F28A5'/%3e%3c/svg%3e");
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 30px 6px 30px;
  width: 100%;
  border-top: 1px solid var(--light_color);
}

.bottom__play, .bottom__like,
.bottom__share {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
  transition: background-image .3s ease-in-out, color .3s ease-in-out, opacity .3s ease-in-out;
}

.bottom__share {
  margin: 0;
}

.bottom__img {
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image .3s ease-in-out;
}

.bottom__img_play {
  background-image: url(../img/icon-play.svg);
  transition: background-image .3s ease-in-out;
}

.bottom__img_like {
  background-image: url(../img/icon-like.png);
  transition: background-image .3s ease-in-out;
}

.bottom__img_share {
  background-image: url(../img/icon-share.png);
  transition: background-image .3s ease-in-out;
}

.bottom__number {
  margin-top: 3px;
  margin-left: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text_gray);
}

.bottom__like:hover .bottom__img {
  background-image: url(../img/icon-like-hover.png);
}

.bottom__share:hover .bottom__img {
  background-image: url(../img/icon-share-hover.png);
}

.bottom__like:hover .bottom__number,
.bottom__share:hover .bottom__number {
  color: var(--primary);
}

.bottom__like::after,
.bottom__share::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background-color: var(--primary_light);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.bottom__like:focus,
.bottom__share:focus {
  outline: none;
}

.bottom__like:focus::after,
.bottom__share:focus::after {
  opacity: 1;
}

.bottom__like:focus .bottom__img {
  background-image: url(../img/icon-like-focus.png);
  z-index: 10;
}

.bottom__share:focus .bottom__img {
  background-image: url(../img/icon-share-focus.png);
  z-index: 10;
}

.bottom__like:focus .bottom__number,
.bottom__share:focus .bottom__number {
  color: var(--white);
  z-index: 10;
}

.bottom__like:active .bottom__img {
  background-image: url(../img/icon-like-active.png);
}

.bottom__share:active .bottom__img {
  background-image: url(../img/icon-share-active.png);
}

.bottom__like:active .bottom__number,
.bottom__share:active .bottom__number {
  color: var(--primary_shade);
}

.btn-center {
  padding-top: 60px;
  text-align: center;
}

.btn-center__link {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.btn-center__link:focus {
  outline: none;
  color: var(--white);
  background-color: var(--primary_light);
  border-color: var(--primary);
}

.btn-center__link:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn-center__link:active {
  color: var(--white);
  background-color: var(--primary_shade);
  border-color: var(--primary_shade);
}

.podcast {
  display: none;
}

.podcast.is-visible {
  display: flex;
}

/*  П Е Р Е Д А Ч И  */

.broadcast {
  padding-top: 89px;
  padding-bottom: 94px;
}

.broadcast__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 564px;
}

.brc-block1, .brc-block2 {
  max-width: 255px;
  margin-right: 30px;
}

.brc-block1 {
  height: 304px;
}

.brc-block1__title {
  margin-bottom: 17px;
}

.brc-block1__subtitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text_gray);
}

.dropdown {
	position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--light_black);
}

.dropdown__button {
	position: relative;
	z-index: 5;
	display: block;
	width: 100%;
  height: auto;
  padding: 12px;
	text-align: left;
	background-color: var(--light_color);
	border: none;
	border-radius: 10px;
	cursor: pointer;
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.dropdown__button::after {
	content: url(../img/brc-arrow.svg);
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
  transition: content .3s ease-in-out;
}

.dropdown__button:hover {
  background-color: var(--porcelain);
  border: none;
}

.dropdown__button:focus, .dropdown__button--active {
  outline: none;
  background-color: var(--light_color);
  border: 1px solid var(--primary);
  content: url(../img/brc-arrow-active.svg);
}

.dropdown__button:focus, .dropdown__button--active::after {
  content: url(../img/brc-arrow-active.svg);
}

.dropdown__button:active {
  background-color: var(--shade_gray);
  border: none;
}

.dropdown__list {
	display: none;
	position: absolute;
	left: 0;
	top: 52px;
  width: 100%;
	margin: 0;
	margin-top: -12px;
	padding: 0;
	list-style-type: none;
	background: #fff;
	overflow: hidden;
  border: 1px solid var(--shade_gray);
	border-radius: 0 0 10px 10px;
	z-index: 1;
}

.dropdown__list--visible {
	display: block;
}

.dropdown__list-item {
	margin: 0;
	padding: 0;
	padding: 12px;
	cursor: pointer;
}

.dropdown__list-item:first-child {
	display: none;
}

.dropdown__list-item:nth-child(2) {
  padding-top: 12px;
}

.dropdown__list-item:last-child {
	padding-bottom: 12px;
}

.dropdown__list-item:hover {
	background-color: var(--porcelain);
  border: none;
}

.dropdown__list-item:focus {
  outline: none;
  background-color: var(--primary_light);
  border: none;
}

.dropdown__list-item:active {
  background-color: var(--light_color);
}

.dropdown__input-hidden {
	display: none;
}

.brc-block2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 260px;
}

.brc-block2__img {
  width: 65px;
  height: 89px;
  margin-top: 47px;
  margin-bottom: 22px;
  background-image: url(../img/brc-mic_1920.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.brc-block2__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.brc-block2__link {
  display: inline-flex;
  margin-bottom: 12px;
  padding: 12px 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--mirage);
  background-color: transparent;
  border: 2px solid var(--mirage);
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

.brc-block2__link:hover {
  color: var(--white);
  background-color: var(--mirage);
}

.brc-block2__link:focus {
  outline: none;
  background-color: var(--primary_light);
  border-color: var(--primary);
}

.brc-block2__link:active {
  color: var(--white);
  background-color: var(--primary_shade);
  border: none;
}

.brc-block2__text {
  display: flex;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text_gray);
}

.broadcast__block3 {
  margin-top: 14px;
}

.brc-block3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 825px;
}

.brc-block3__item {
  margin: 30px 30px 0 0;
}

.brc-block3__item:nth-child(-n+2) {
  margin: 0;
  margin-right: 30px;
}

.brc-block3__item:nth-child(3n) {
  margin: 0;
  margin-top: 30px;
}

.brc-block3__item:nth-child(3) {
  margin: 0;
}

.block3-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc((100% - 60px) / 3);
  transition: opacity .3s ease-in-out, color .3s ease-in-out, background-image .3s ease-in-out;
}

.brc-block3__link {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.brc-block3__link::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  outline: 1px solid var(--primary_light);
  opacity: 0;
  transition: opacity .3s ease-in-out, outline .3s ease-in-out;
}

.block3-item__img {
  width: 100%;
  height: 148px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity .3s ease-in-out;
}

.item-img1 {
  background-image: url(../img/brc-item1.png);
}

.item-img2 {
  background-image: url(../img/brc-item2.png);
}

.item-img3 {
  background-image: url(../img/brc-item3.png);
}

.item-img4 {
  background-image: url(../img/brc-item4.png);
}

.item-img5 {
  background-image: url(../img/brc-item5.png);
}

.item-img6 {
  background-image: url(../img/brc-item6.png);
}

.item-descr {
  width: 100%;
  height: 112px;
  padding: 20px 16px;
  border: 1px solid var(--light_color);
}

.item-descr__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--mirage);
}

.item-descr__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--text_gray);
}

.item-descr__link {
  position: relative;
  padding-right: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--mirage);
  background-image: url(../img/brc-block3-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 26px;
  transition: color .3s ease-in-out, background-image .3s ease-in-out;
}

.item-descr__link::after {
  position: absolute;
  content: "";
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background-color: var(--primary_light);
  z-index: -1;
  opacity: 0;
  transition: background-color .3s ease-in-out;
}

.brc-block3__link, .item-descr__link {
  outline: none;
}

.brc-block3__link:focus .item-descr__link {
  color: var(--white);
  background-image: url(../img/brc-block3-arrowfocus.svg);
}

.brc-block3__link:focus .item-descr__link::after {
  opacity: 1;
}

.item-descr__link:focus {
  color: var(--white);
  background-image: url(../img/brc-block3-arrowfocus.svg);
}

.item-descr__link:focus::after {
  opacity: 1;
}

.brc-block3__link:focus::before {
  opacity: 1;
}

.block3-item:hover .block3-item__img  {
  opacity: .7;
}

.block3-item:hover .item-descr__link {
  color: var(--primary);
  background-image: url(../img/brc-block3-arrowhover.svg);
}

.block3-item:active .block3-item__img  {
  opacity: .7;
}

.block3-item:active .item-descr__link {
  color: var(--primary_shade);
  background-image: url(../img/brc-block3-arrowactive.svg);
}

/*  Г О С Т И  */

.guests {
  padding-top: 94px;
  padding-bottom: 102px;
  background-color: var(--mirage);
}

.guests__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.guests__title {
  max-width: 123px;
  margin: 0;
  margin-bottom: 12px;
  color: var(--white);
}

.guests__span {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text_gray);
}

.guests__text {
  max-width: 825px;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--text_gray);
}

.gs-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gs-block__accordion {
  margin-right: 30px;
}

.block-acc {
  max-width: 730px;
  height: auto;
}

.accordion-list {
  width: 100%;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.accordion {
	width: 100%;
	margin-bottom: -2px;
}

.accordion__control {
  width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 23px 0;
	border-top: 1px solid var(--text_gray);
  border-bottom: 1px solid var(--text_gray);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.accordion__control:focus {
  outline: none;
  background-color: var(--light_black);
}

.accordion__control:hover .accordion__title,
.accordion__control:active .accordion__title {
  color: var(--primary_light);
}

.accordion__control:hover .accordion__icon::before {
	content: url(../img/acc-arrow-hover.svg);
}

.accordion__control:active .accordion__icon::before {
	content: url(../img/acc-arrow-active.svg);
}

.accordion__title {
	margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  transition: color .3s ease-in-out;
}

.accordion__icon {
	position: relative;
	display: inline-block;
	width: 42px;
	height: 42px;
  transition: transform .3s ease-in-out;
}

.accordion__icon::before {
	content: url(../img/acc-arrow-def.svg);
	position: absolute;
  right: 0;
  transition: transform .3s ease-in-out;
}

.acc-content {
  width: 100%;
  max-height: 0;
  will-change: max-height;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s ease-in-out, overflow .5s ease-in-out;
}

.acc-content__list {
  width: 730px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.acc-content__btn {
  width: 22%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  text-align: start;
  transition: color .3s ease-in-out;
}

.acc-content__btn--active {
  color: var(--primary_light);
}

.acc-content__btn:nth-last-child(n+5) {
  margin-bottom: 16px;
}

.acc-content__btn:focus {
  outline: none;
  color: var(--primary_light);
}

.acc-content__btn:hover {
  color: var(--primary);
}

.acc-content__btn:active {
  color: var(--primary_shade);
}

.open .accordion__control {
  border-top: 1px solid var(--primary_light);
  border-bottom: 1px solid var(--primary_light);
}

.open .accordion__icon {
	transform: rotate(180deg);
  transition: all .5s ease-in-out;
}

.open .acc-content {
	opacity: 1;
  padding: 30px 0;
  transition: opacity .5s ease-in-out;
}

.open .acc-content:last-child {
  border-bottom: 1px solid var(--primary_light);
}

.gs-cards {
  max-width: 350px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gs-cards {
  display: none;
}

.gs-cards--active {
  display: flex;
}

.cards-foto__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-descr {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 9px;
}

.cards-descr__soc {
  width: 38%;
  max-width: 132px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cards-descr__inst, .cards-descr__fb,
.cards-descr__twr {
  width: 20px;
  height: 20px;
  background-image: url(../img/gs-inst-def.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image .3s ease-in-out;
}

.cards-descr__inst:focus {
  outline: none;
  background-image: url(../img/gs-inst-focus.svg);
}

.cards-descr__inst:hover {
  background-image: url(../img/gs-inst-hover.svg);
}

.cards-descr__inst:active {
  background-image: url(../img/gs-inst-active.svg);
}

.cards-descr__fb {
  background-image: url(../img/gs-fb-def.svg);
}

.cards-descr__fb:focus {
  outline: none;
  background-image: url(../img/gs-fb-focus.svg);
}

.cards-descr__fb:hover {
  background-image: url(../img/gs-fb-hover.svg);
}

.cards-descr__fb:active {
  background-image: url(../img/gs-fb-active.svg);
}

.cards-descr__twr {
  margin: 0;
  background-image: url(../img/gs-twr-def.svg);
}

.cards-descr__twr:focus {
  outline: none;
  background-image: url(../img/gs-twr-focus.svg);
}

.cards-descr__twr:hover {
  background-image: url(../img/gs-twr-hover.svg);
}

.cards-descr__twr:active {
  background-image: url(../img/gs-twr-active.svg);
}

.gs-cards__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.gs-cards__text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--text_gray);
}

.gs-cards__link {
  padding: 12px 19.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--primary_light);
  background-color: transparent;
  border: 2px solid var(--primary_light);
  border-radius: 77px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.gs-cards__link:focus {
  outline: none;
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}

.gs-cards__link:hover {
  color: var(--white);
  background-color: var(--primary_light);
  border-color: var(--primary_light);
}

.gs-cards__link:active {
  color: var(--white);
  background-color: var(--primary_shade);
  border-color: var(--primary_shade);
}

/*  P L A Y L I S T S  */

.playlists {
  padding-top: 94px;
  padding-bottom: 94px;
}

.playlists__container {
  width: 100%;
  height: 746px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.playlists__block1 {
  margin-right: 30px;
  margin-bottom: 22px;
}

.pl-block1 {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.pl-block1__title {
  margin-bottom: 12px;
}

.pl-block1__span {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text_gray);
}

.checkbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkbox__label {
  margin-bottom: 27px;
}

.checkbox__label:last-child {
  margin: 0;
}

.check {
  position: relative;
  padding-left: 42px;
  cursor: pointer;
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--mirage);
  cursor: pointer;
}

.check__box {
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  bottom: 0;
  width: 26px;
  height: 26px;
  overflow: hidden;
  border: 2px solid var(--text_gray);
  border-radius: 50%;
}

.check__input:hover + .check__box {
  border: 2px solid var(--primary);
  border-radius: 50%;
}

.check__input:focus + .check__box {
  border: 2px solid var(--primary);
  border-radius: 50%;
  background-color: var(--shade_gray);
}

.check__input:checked + .check__box {
  border: 7px solid var(--primary);
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0px 0px 5px rgba(30, 13, 68, 0.8);
}

.playlists__block2 {
  margin-right: 30px;
}

.pl-block2 {
  width: 350px;
  border-top: 1px solid var(--shade_gray);
}

.pl-block2__text, .pl-block2__author {
  margin: 0;
  margin-top: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text_gray);
}

.pl-block2__author {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 300;
}

.pl-block2__age {
  width: 30px;
  height: 30px;
  margin: 0;
  background-image: url(../img/pl-block2-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.pl-block3 {
  width: 730px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
}

.pl-block3__item {
  margin-top: 30px;
  margin-right: 30px;
}

.pl-block3__item:nth-child(4n) {
  margin: 0;
  margin-top: 30px;
}

.pl-block3__item:nth-child(-n+3) {
  margin: 0;
  margin-right: 30px;
}

.pl-block3__item:nth-child(4) {
  margin: 0;
}

.pl-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pl-item__img {
  position: relative;
  transition: filter .3s ease-in-out;
}

.pl-item__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pl-item__img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  background-image: url(../img/pl-play_btn.svg);
  opacity: 0;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  transform: translate(-50%, -50%);
}

.pl-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 20px;
  background-image: url(../img/country=russia.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--mirage);
}

.pl-item:hover .pl-item__descr {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.pl-item:hover .pl-item__pic {
  filter: brightness(40%);
}

.pl-item:hover .pl-item__title {
  color: var(--white);
}

.pl-item:hover .pl-item__text {
  color: var(--white);
}

.pl-item:hover .pl-item__img::before {
  opacity: 1;
  z-index: 5;
}

.pl-item:focus {
  outline: none;
}

.pl-item:focus .pl-item__descr {
  background-color: var(--primary_light);
  border: 1px solid var(--primary_light);
}

.pl-item:focus .pl-item__pic {
  filter: brightness(80%);
}

.pl-item:focus .pl-item__title {
  color: var(--mirage);
}

.pl-item:focus .pl-item__text {
  color: var(--mirage);
}

.pl-item:focus .pl-item__img::before {
  opacity: 1;
  z-index: 5;
}

.pl-item:active .pl-item__descr {
  background-color: var(--primary_shade);
  border: 1px solid var(--primary_shade);
}

.pl-item:active .pl-item__pic {
  filter: brightness(80%);
}

.pl-item:active .pl-item__title {
  color: var(--white);
}

.pl-item:active .pl-item__text {
  color: var(--white);
}

.pl-item:active .pl-item__img::before {
  opacity: 1;
  z-index: 5;
}

.pl-item:nth-child(n+7):after {
  background-image: url(../img/country=uk.png);
}

.pl-item__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 16px;
  border: 1px solid var(--light_color);
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.pl-item__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--mirage);
  transition: color .3s ease-in-out;
}

.pl-item__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--text_gray);
  transition: color .3s ease-in-out;
}

/*  A D V  */

.adv {
  padding: 94px 0;
  background-color: var(--light_black);
}

.adv__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adv__img {
  margin-right: 30px;
}

.adv-img {
  position: relative;
  width: 58%;
  height: auto;
}

.adv-img__icon {
  position: absolute;
  left: -5px;
  top: -8px;
  width: 160px;
  height: 160px;
}

.adv-img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adv-descr {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.adv-descr__title {
  width: 100%;
  margin-bottom: 19px;
  color: var(--promo_color);
}

.adv-descr__decor {
  width: 100%;
  height: 10px;
  margin-bottom: 19px;
  background-image: url(../img/adv-descr_decor.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.adv-descr__text1,
.adv-descr__text2 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--white);
}

.adv-descr__text1 {
  margin-bottom: 12px;
}

.adv-descr__text2 {
  margin-bottom: 33px;
}

.adv-descr__price {
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--white);
}

.adv-descr__link {
  position: relative;
  padding: 24px 13.5px 24px 42px;
  background-color: transparent;
  border: 2px solid var(--promo_color);
  border-radius: 100px;
}

.adv-descr__icon {
  content: url(../img/adv-descr_link.svg);
  position: absolute;
  top: 25px;
  left: 13.5px;
  width: 20px;
  height: 20px;
}

.adv-descr__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--promo_color);
}

.adv-descr__link:hover {
  background-color: var(--promo_color);
}

.adv-descr__link:hover .adv-descr__icon {
  content: url(../img/adv-descr_link-hover.svg);
}

.adv-descr__link:hover .adv-descr__text {
  color: var(--mirage);
  opacity: 1;
}

.adv-descr__link:focus {
  outline: none;
  background-color: var(--promo_color_shade);
}

.adv-descr__link:focus .adv-descr__icon {
  content: url(../img/adv-descr_link.svg);
}

.adv-descr__link:focus .adv-descr__text {
  color: var(--mirage);
  opacity: 1;
}

.adv-descr__link:active {
  background-color: var(--promo_color_shade);
  border-color: var(--promo_color_shade);
}

.adv-descr__link:active .adv-descr__icon {
  content: url(../img/adv-descr_link-active.svg);
}

.adv-descr__link:focus .adv-descr__text {
  color: var(--mirage);
  opacity: 1;
}

/*  A B O U T  */

.about {
  padding-top: 132px;
  padding-bottom: 89px;
  background-color: var(--mirage);
}

.about__container {
  position: relative;
}

.about-descr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about__descr {
  margin-bottom: 30px;
}

.descr-text {
  width: 60%;
  padding-right: 30px;
}

.descr-text__title {
  color: var(--white);
  margin-bottom: 12px;
}

.descr-text__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--text_gray);
}

.descr-text__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--text_gray);
}

.descr-decor {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descr-decor__one {
  width: 160px;
  height: 290px;
  margin-right: 30px;
  background-image: url(../img/descr-decor__one.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.descr-decor__two {
  width: 255px;
  height: 100%;
  background-image: url(../img/descr-decor_two.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.swiper {
  max-width: 100%;
  height: auto;
}

.swiper-slide {
  width: 255px;
}

.swiper-slide__image {
  max-width: 100%;
  margin-bottom: 24px;
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-slide__descr {
  width: 100%;
}

.swiper-slide__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
}

.swiper-slide__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_gray);
}

.about__swiper-block {
  position: relative;
  margin-bottom: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(0, -40%);
}

.swiper-button-prev {
  left: -72px;
  background-image: url(../img/about-sw-btn-prv.svg);
  transition: background-image .3s ease-in-out;
}

.swiper-button-prev:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='20' transform='matrix(4.37114e-08 -1 -1 -4.37114e-08 21 21)' stroke='%236D31EE' stroke-width='2'/%3e%3cpath d='M23 29L15 21L23 13' stroke='%236D31EE' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.swiper-button-prev:focus {
  outline: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='20' transform='matrix(4.37114e-08 -1 -1 -4.37114e-08 21 21)' stroke='%23AA9DFA' stroke-width='2'/%3e%3cpath d='M23 29L15 21L23 13' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.swiper-button-prev:active {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='20' transform='matrix(4.37114e-08 -1 -1 -4.37114e-08 21 21)' stroke='%234F28A5' stroke-width='2'/%3e%3cpath d='M23 29L15 21L23 13' stroke='%234F28A5' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.swiper-button-next {
  right: -72px;
  background-image: url(../img/about-sw-btn-next.svg);
  transition: background-image .3s ease-in-out;
}

.swiper-button-next:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='21' cy='21' r='20' transform='rotate(-90 21 21)' stroke='%236D31EE' stroke-width='2'/%3e%3cpath d='M19 29L27 21L19 13' stroke='%236D31EE' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.swiper-button-next:focus {
  outline: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='21' cy='21' r='20' transform='rotate(-90 21 21)' stroke='%23AA9DFA' stroke-width='2'/%3e%3cpath d='M19 29L27 21L19 13' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.swiper-button-next:active {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='21' cy='21' r='20' transform='rotate(-90 21 21)' stroke='%234F28A5' stroke-width='2'/%3e%3cpath d='M19 29L27 21L19 13' stroke='%234F28A5' stroke-width='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.block-form {
  width: 83%;
  display: flex;
}

.about__form {
  max-width: 920px;
}

.form__label {
  position: relative;
  display: inline-flex;
  flex-direction: column-reverse;
}

.form__label_textarea {
  width: 100%;
}

.textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  padding: 30px 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text_gray);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 30px;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.form__label_name {
  width: calc((100% - 30px) / 2);
  margin-right: 26px;
  margin-bottom: 30px;
}

.form__label_mail {
  width: calc((100% - 30px) / 2);
}

.input {
  height: 70px;
  padding: 25px 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--text_gray);
  background-color: transparent;
  border: 1px solid var(--text_gray);
  border-radius: 40px;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.textarea:hover,
.input:hover {
  background-color: var(--light_black);
}

.textarea:focus,
.input:focus {
  outline: none;
  background-color: var(--light_black);
  border-color: var(--primary_light);
}

.textarea:active,
.input:active {
  color: var(--white);
  background-color: transparent;
  border-color: var(--white);
}

.js-validate-error-label {
  position: absolute;
  top: 9px;
  left: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #D52B1E;
}

.js-validate-error-field {
  border-color: #D52B1E;
}

.form__btn {
  margin-bottom: 28px;
}

.form-btn {
  display: block;
  padding: 25px 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 40px;
  transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.form-btn:hover {
  background-color: var(--primary_light);
}

.form-btn:focus {
  outline: none;
  background-color: var(--primary_light);
  border: 2px solid var(--primary_shade);
}

.form-btn:active {
  background-color: var(--primary_shade);
  border: none;
}

.form-check {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}

.form-check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form-check__box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 14px;
  height: 14px;
  overflow: hidden;
  border: 1px solid var(--white);
}

.form-check__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--white);
}

.form-check__input:checked + .form-check__box {
  background-image: url(../img/about-checkbox-input.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form-check__input:focus + .form-check__box {
  border: 1px solid var(--primary_light);
}

/*  F O O T E R  */

.footer {
  background-color: var(--light_black);
}

.footer__container {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 94px 0;
}

.footer__left {
  max-width: 160px;
}

.footer__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-bottom: 25px;
}

.footer__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: outline .3s ease-in-out;
}

.footer__link {
  position: relative;
}

.footer__link::after {
  position: absolute;
  content: "";
  top: -7px;
  right: -5px;
  bottom: -3px;
  left: -5px;
  border: 2px solid var(--primary_light);
  border-radius: 7px;
  opacity: 0;
}

.footer__link:focus {
  outline: none;
}

.footer__link:focus::after {
  opacity: 1;
}

.footer__social {
  width: 114px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__yt, .footer__ok,
.footer__vk {
  width: 24px;
  fill: var(--shade_gray);
  transition: fill .3s ease-in-out;
}

.footer__yt:focus,
.footer__ok:focus,
.footer__vk:focus {
  outline: none;
}

.footer__yt:hover svg path,
.footer__ok:hover svg path,
.footer__vk:hover svg path {
  fill: var(--primary);
}

.footer__yt:focus svg path,
.footer__ok:focus svg path,
.footer__vk:focus svg path {
  fill: var(--primary_light);
}

.footer__yt:active svg path,
.footer__ok:active svg path,
.footer__vk:active svg path {
  fill: var(--primary);
}

.footer__right {
  width: 445px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.footer-right__item {
  width: 42%;
}

.footer-right__item:nth-child(2),
.footer-right__item:nth-child(5),
.footer-right__item:nth-child(8) {
  width: 43%;
}

.footer-right__item:nth-child(3n) {
  width: 15%;
}

.footer-right__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  transition: color .3s ease-in-out;
}

.footer-right__link:hover {
  color: var(--primary);
}

.footer-right__link:focus {
  outline: none;
  color: var(--primary_light);
}

.footer-right__link:active {
  color: var(--primary_shade);
}

.footer__decor {
  width: 100%;
  height: 10px;
  background-image: url(../img/footer-decor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__note {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.footer__span {
  font-weight: 400;
  font-size: 16px;
  line-height: 103.34%;
  vertical-align: middle;
  color: var(--text_gray);
}
